<h1>Quoramanben</h1>

<!--NO LOGIN RB YET-->
<p>Log in here</p>
<form action="/mainpage" method="get">
Username:<input type="text" name="user[username]"><br>
Password:<input type="text" name="user[password]">
 <p><input type="submit" value="Log in"></p>
</form>

<h3>Are You New?</h3>
<form action="/users/new" method="get">
 <input type="submit" value="Not a Quoramanben user yet? Sign up here!">
</form>