<h1>Welcome to the mainpage!</h1>

<!-- <p>Log in here</p> -->
<form action="/question" method="post">
<!-- New Username:<input type="text" name="user[username]"><br>
Password:<input type="text" name="user[password]">
 <input type="submit" value="Sign Up"> -->
</form>

