<h1>Please Signup Here!</h1>

<!-- <p>Log in here</p> -->
<form action="/users/new" method="post">
New Username:<input type="text" name="user[username]"><br>
New Password:<input type="text" name="user[password]">
 <p><input type="submit" value="Sign Up"></p>
</form>

